@import 'https://yastatic.net/bootstrap/3.3.4/css/bootstrap.min.css';
body {
  padding: 30px;
  background-color: #FFF; }

.wrapper {
  overflow: hidden;
  float: left; }

svg {
  float: left;
  margin-right: 15px; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }

.bar {
  fill: steelblue; }
